@using LigaSoft.ExtensionMethods
@model LigaSoft.Models.ViewModels.CambiarPasswordVM

@section Titulo {
	Cambiar password
}

@using (Html.YKN().Form())
{
	@Html.YKNNonTyped().ValidationSummary()

	<div class="row">
		<div class="col-sm-8">
			@Html.YKN().EditorFor(x => x.PasswordAnterior)
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8">
			@Html.YKN().EditorFor(x => x.PasswordNuevo)
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8">
			@Html.YKN().EditorFor(x => x.PasswordNuevoRepetido)
		</div>
	</div>

	{ Html.YKN().FooterGuardarCancelar(); }
}
