@model LigaSoft.Models.ViewModels.UsuarioDelegadoVM

@{
	Layout = "~/Views/Shared/_LayoutSinPanelLateral.cshtml";
}

@section Titulo{
	¡Hasta luego!
}

<section>
	<h4 style="margin-top: -1.5em;">
		Gracias por utilizar el sistema.
	</h4>
</section>
