@using LigaSoft.ExtensionMethods
@using LigaSoft.Models.ViewModels

@section Titulo {
	Delegados pendientes de aprobación
}

@(Html.YKN<UsuarioDelegadoVM>().Grid()
			.WithColumns(column =>
			{
				column.AddTextColumn(x => x.Nombre);
				column.AddTextColumn(x => x.Apellido);
				column.AddTextColumn(x => x.Usuario);
				column.AddTextColumn(x => x.Club);
			})
			.Actions(action =>
			{
				action.JavaScriptWithRowId("Aprobar", "Aprobar");
				action.JavaScriptWithRowId("Rechazar", "Rechazar");
			})
			.DataSource("/UsuarioDelegado/GetForGrid")
			.DataFilter("Aprobado", false)
)

<script>
	function Aprobar(obj) {
		$.blockUI({ message: '<h4> El delegado está siendo aprobado...</h4>' }); 
		$.ajax({
			url: '/AdministracionDelegados/Aprobar',
			type: "POST",
			data: { id: obj.getAttribute('data-id') },
			success: function() {
				window.location.reload(false);
			},
			complete: function () {
				$.unblockUI();
			}
		});
	}

	function Rechazar(obj) {
		$.ajax({
			url: '/AdministracionDelegados/Rechazar',
			type: "POST",
			data: { id: obj.getAttribute('data-id') },
			success: function() {
				window.location.reload(false);
			}
		});
	}
</script>