@value bootstrap: './bootstrap.min.css';
@value blanco-grisaceo, gris-oscuro, blanco from from './colors.css';

.tituloBlancoConSombraNegra {
	-webkit-text-stroke: 1px black;
	color: white;
	text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	font-weight: 700;
}

.celda {
	padding-bottom: 2px;
	padding-top: 2px;
	padding-right: 0.3em;
	border-top: 1px solid #dee2e6;
}

.textoCentrado {
	text-align: center;
}

.paddingALaDerecha {
	padding-right: 0.5em;
}

.paddingALaIzquierda {
	padding-left: 1em;
	padding-right: 0;
}

.celdaCentrada {
	composes: celda;
	composes: textoCentrado;
}

.celdaDerecha {
	composes: celdaCentrada;
	composes: paddingALaDerecha;
}

.celdaIzquierda {
	composes: celda;
	composes: paddingALaIzquierda;
}

.celdaEscudo {
	composes: celdaCentrada;
	padding-right: 0.5em;
}

.cabecera {
	composes: celda;
	border: none;
	color: blanco-grisaceo;
	background-color: gris-oscuro;
	height: 50px;
	vertical-align: middle;
}

.cabeceraCentrada {
	composes: cabecera;
	composes: textoCentrado;	
}

.cabeceraDerecha {
	composes: cabeceraCentrada;
	composes: paddingALaDerecha;
}

.cabeceraIzquierda {
	composes: cabecera;
	composes: paddingALaIzquierda;
}

.tablaPosiciones {
	border-collapse: collapse; 
	width: 100%;
	border: 1px solid #dddddd;
	background-color: blanco;
	font-size: 16px;
	margin-bottom: 1.5em;

	@media (max-width: 575px) {
		font-size: 15px;
	}
}

.columnaTabla {
	composes: col-12 col-md-6 from bootstrap;
}