@using LigaSoft.ExtensionMethods
@using LigaSoft.Models.Enums
@using LigaSoft.Models.ViewModels
@model IdDescripcionVM

@section Titulo{
	Jugadores aprobados. <span class="titulo-detacado"> Equipo: @Model.Descripcion</span>
}

@section Subtitulo{
	Se muestran los jugadores aprobados por la administración de la Liga.
}

@section CabeceraGrilla {
	@(Html.YKN<JugadorAutofichadoVM>().Buscador(x => x.DNI))
}

@(Html.YKN<JugadorAutofichadoVM>().Grid()
		.WithColumns(column =>
		{
			column.AddTextColumn(x => x.DNI);
			column.AddTextColumn(x => x.Nombre);
			column.AddTextColumn(x => x.Apellido);
			column.AddTextColumn(x => x.FechaNacimiento);			
		})
		.DataSource("/JugadorFichadoPorDelegado/GetForGrid")
		.DataFilter("Estado", EstadoJugadorFichadoPorDelegado.Aprobado)
		.DataFilter("EquipoId", Model.Id)
)