@using LigaSoft.ExtensionMethods
@section Titulo {
	Fichar Jugador
}

<script src="../../Scripts/pixelarity-face.js"></script>
<link rel="stylesheet" href="../../Content/pixelarity.css">


@using (Html.YKN().Form())
{
	<input id="file" type="file">
	<input type="hidden" id="imagen" name="imagen" value="John"><br>
	<img id="result">
	<button type="submit">Submitear</button>
}


<style type="text/css">
	#result {
		display: block;
		position: relative;
		margin-top: 40px;
		width: 240px;
	}
</style>

<script>
	$(document).ready(function () {
		$("#file").change(function (e) {
			var img = e.target.files[0];
			$('#pixelarity-side-opt-holder').hide();
			$('.pixelarity-img-edit-save').text('RECORTAR');
			$('.pixelarity-img-edit-cancel').text('CANCELAR');
			if (!pixelarity.open(img, true, function (res) {

				$("#result").attr("src", res);
				$("#imagen").attr("value", res);

			}, "jpg", 0.7, true)) {
				alert("Whoops! That is not an image!");
			}

		});
	});

</script>