@using LigaSoft.ExtensionMethods
@using LigaSoft.Models.Enums
@model LigaSoft.Models.ViewModels.SeleccionarEquipoVM

@section Titulo{
	Seleccionar equipo
}

@section Subtitulo{
	Club @Model.Club
}

@using (Html.YKN().Form())
{
	<div class="row">
		<div class="col-sm-12">
			@Html.YKN().ComboFor(x => x.EquipoId).Label("Equipos").Values(Model.EquiposParaCombo)
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			@(Html.YKN().Button("Seleccionar")
						  .Color(BootstrapColorEnum.Primary)
						  .FullWidth()
						  .Submit()
			)
		</div>
	</div>
}

