.cajaTorneo {
	composes: caja from './../../../../../assets/styles/base.css';
	composes: backgroundGradienteAzul from './../../../../../assets/styles/colors.css';
}

.titulo {
	composes: tituloBlancoConSombraNegra from './../../../../../assets/styles/base.css';
	padding-bottom: 0.5em;
	padding-top: 1em;
}