@value navbar-toggler-icon, navbar, navbar-expand-sm, navbar-dark, nav-link, collapse, navbar-collapse, justify-content-end, show  from './../../assets/styles/bootstrap.min.css';
@value blanco-grisaceo, gris-oscuro from './../../assets/styles/colors.css';

/*En mobile, hamburguer blanco*/
.navbarTogglerIcon {
    composes: navbar-toggler-icon;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(230,230,230, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;    
}

.navbarYkn {
    composes: navbar navbar-expand-sm navbar-dark;
    background-color: gris-oscuro !important;
}

.navLink {
    composes: nav-link;
    color: blanco-grisaceo !important;
}

.menuDesplegado {
    composes: collapse navbar-collapse justify-content-end show;
}

.menuSinDesplegar {
    composes: collapse navbar-collapse justify-content-end;
}

.logoEdefi {
    height: 60px;
    position: unset;
    margin-top: 0;
    content: url('../../assets/imgs/logo.svg');
}

@media (min-width: 576px) {
    .navbarYkn {
        margin-bottom: 30px;
    }

    .logoEdefi {
        height: 80px;
        position: absolute;
        margin-top: -20px;
    }    
}

