.contenedorDeContenidoCentrado {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .botonImageUploader {
    width: 180px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 25px;
  }