@value footerHeight_mobile, footerHeight_desktop from './Footer/Footer.css';

@font-face {
	font-family: 'SegoeUI';
	font-weight: 400;
	src: url('../../assets/fonts/segoeui/400/latest.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../../assets/fonts/segoeui/400/latest.woff') format('woff'), /* Modern Browsers */
		 url('../../assets/fonts/segoeui/400/latest.ttf') format('truetype'); /* Safari, Android, iOS */	
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

@font-face {
	font-family: 'SegoeUI';
	font-weight: 600;
	src: local("Segoe UI bold"), 
		 url('../../assets/fonts/segoeui/600/latest.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../../assets/fonts/segoeui/600/latest.woff') format('woff'), /* Modern Browsers */
		 url('../../assets/fonts/segoeui/600/latest.ttf') format('truetype'); /* Safari, Android, iOS */	
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'SegoeUI';
	font-weight: 700;
	src: local("Segoe UI Semibold"), 
		 url('../../assets/fonts/segoeui/700/latest.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../../assets/fonts/segoeui/700/latest.woff') format('woff'), /* Modern Browsers */
		 url('../../assets/fonts/segoeui/700/latest.ttf') format('truetype'); /* Safari, Android, iOS */	
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 900;
	src: local('Roboto Black'), local('Roboto-Black'), 
		 url('../../assets/fonts/roboto/roboto-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../../assets/fonts/roboto/roboto-latin-900.woff') format('woff'), /* Modern Browsers */
		 url('../../assets/fonts/roboto/roboto-latin-900.ttf') format('truetype'); /* Safari, Android, iOS */
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

body {
	font-family: 'SegoeUI', "Helvetica Neue", Arial;
	background-image: url('../../assets/imgs/background-1920x1090.jpg');
	background-size: auto;
	
	width: 100%;
	height: 100%;
	position: absolute;
}

body {
	min-width: 100%;	/* Como mínimo ocupa todo el viewport */
	width: fit-content;	/* Pero si hay contenido más ancho (por las tablas, por ejemplo), se ajusta */
}

@value navbarHeight_mobile: 105px;
@value navbarHeight_desktop: 88px;

@value bannersContainerHeight_mobile: calc(var(--windowInnerHeight) - navbarHeight_mobile - footerHeight_mobile);
@value bannersContainerHeight_desktop: calc(var(--windowInnerHeight) - navbarHeight_desktop - footerHeight_desktop);


.banners {
	height: bannersHeight;
	padding-top: 10px;
}

@media (min-width: 576px) {	

	.home {
		height: homeHeight;
	}

	.banners {
		padding-top: 0;
	}
}