.tituloInput {
  color: #eee;
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-top: -10px;
}

.alertaValidacionEquipo {
	margin-top: 20px;
	margin-bottom: 0px;
}