@value blanco-grisaceo, verde-edefi, rojo-edefi from from './../../../assets/styles/colors.css';

.seccion {
	padding-top: 1em;
}

.padding-cajas {
	padding-top: 2em;
	padding-bottom: 1em;
	padding-right: 3em;
	padding-left: 2em;
}

.contenido {
	composes: padding-cajas;
	background-color: rgba(255,255,255,0.8);
	text-align: left;
}

.titulo {
	padding-bottom: 0.3em;
	font-size: 20px;
	font-weight: 700;
}

.tituloTexto {	
	text-decoration: underline;
}

.tituloSeparador {
	color: rojo-edefi;
}

.tituloFecha{
	color: verde-edefi;
}

.subtitulo {
	padding-top: 1em;
	font-weight: 700;
}

.cuerpo {
	padding-top: 1em;
}

@media (min-width: 576px) {

	.titulo {
		font-size: 28px;
	}

	.padding-cajas {
		padding-top: 2em;
		padding-bottom: 2em;
		padding-right: 6em;
		padding-left: 4em;
	}
}