/* @value blanco-grisaceo, verde-edefi, rojo-edefi from from './../../assets/styles/colors.css';

.puntosSuspensivos {
	display: block;
	font-weight: 600;
	color: #0263cc;
	text-decoration: underline;
}

.seccion {
	padding-top: 1em;
}

.padding-cajas {
	padding-top: 2em;
	padding-bottom: 1em;
	padding-right: 3em;
	padding-left: 2em;
}

.contenido {
	composes: padding-cajas;
	background-color: rgba(255,255,255,0.75);
	text-align: left;
	cursor: pointer;
}

.separador {
	height: 1em;
}



.titulo {
	padding-bottom: 0.3em;
	font-size: 20px;
	font-weight: 700;
}

.tituloTexto {
	
	text-decoration: underline;
}

.tituloSeparador {
	color: rojo-edefi;
}

.tituloFecha{
	color: verde-edefi;
}

p {
	font-weight: 700;
	font-size: 15px;
}

.datosContainer {
	composes: padding-cajas;
	margin-top: 2em;		
	background-color: black;	
	color: blanco-grisaceo;
}

.dato {
	margin-top: 0.5em;	
}

.datoClave {
	font-weight: 700;
}

@media (min-width: 576px) {

	.titulo {
		font-size: 28px;
	}

	.padding-cajas {
		padding-top: 2em;
		padding-bottom: 2em;
		padding-right: 6em;
		padding-left: 4em;
	}

	.puntosSuspensivos {
		display: inline;
		letter-spacing: 1px;
	}
} */