@model LigaSoft.Models.ViewModels.UsuarioDelegadoSinConfirmarVM

@{
	Layout = "~/Views/Shared/_LayoutSinPanelLateral.cshtml";
}

@section Titulo{
	Registro exitoso
}

<section>
	<h4 style="margin-top: -1.5em;">
		Una vez que la organización de la Liga apruebe tu email y club, vas a poder ingresar al sistema desde el botón "Iniciar sesión" que está en la esquina superior derecha.
	</h4>
</section>
