@value container  from './../../../assets/styles/bootstrap.min.css';
@value blanco-grisaceo, gris-oscuro from './../../../assets/styles/colors.css';
@value footerHeight_desktop: 120px;
@value footerHeight_mobile: 100px;

.footerContainer {
  width: 100%;
  height: footerHeight_mobile;
  padding-top: 10px;
}

.iconosRedesSociales{        
  display: flex;
  justify-content: center;
  text-align: center;
}

.iconoRedSocial {
  height: 40px;
  margin-right: 5px;
  margin-left: 5px;
}

.logoFacebook {
  composes: iconoRedSocial;
  content: url('../../../assets/imgs/facebook-icon.png');
}

.logoTwitter {
  composes: iconoRedSocial;
  content: url('../../../assets/imgs/twitter-icon.png');    
}

.firma {
  clear: both;
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  padding-top: 8px;
  padding-bottom: 5px;
  font-size: 13px;  
}

@media (min-width: 576px) {  

  .iconoRedSocial {
    height: 55px;
    margin-right: 10px; /*Hay que ponerlos específicamente para cada uno, si no, queda descentrado*/
    margin-left: 10px;
  }

  .footerContainer {
    height: footerHeight_desktop;
    padding-top: 20px;
  }
}

