@value container  from './../../../assets/styles/bootstrap.min.css';
@value blanco-grisaceo, gris-oscuro from './../../../assets/styles/colors.css';
@value footerHeight_desktop: 120px;
@value footerHeight_mobile: calc(var(--windowInnerHeight) * 0.25);
@value iconosHeight_mobile: calc(var(--windowInnerHeight) * 0.07);

.footerContainer {
  width: 100%;
  height: footerHeight_mobile;
  padding-top: 28px;  
}

.iconosRedesSociales{        
  display: flex;
  justify-content: center;
  text-align: center;
}

.iconoRedSocial {
  height: iconosHeight_mobile;
  margin-right: 5px;
  margin-left: 5px;
}

.logoFacebook {
  composes: iconoRedSocial;
  content: url('../../../assets/imgs/facebook-icon.png');
}

.logoTwitter {
  composes: iconoRedSocial;
  content: url('../../../assets/imgs/twitter-icon.png');    
}

.firma {
  clear: both;
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  padding-top: 8px;
  padding-bottom: 5px;
  font-size: 13px;  
}

footer {
  margin-top: 28px;
}

@media (min-width: 576px) {  

  .iconoRedSocial {
    height: 55px;
    margin-right: 10px; /*Hay que ponerlos específicamente para cada uno, si no, queda descentrado*/
    margin-left: 10px;
  }

  .footerContainer {
    height: footerHeight_desktop;
    padding-top: 20px;
  }

  footer {
    margin-top: 0;
  }
}

