@value bannersContainerHeight_mobile, bannersContainerHeight_desktop from '../Home.css';

.rowWithMarginTop2em {
	composes: row from './../../../assets/styles/bootstrap.min.css';
	/* margin-top: 2em; */
}

.banner {
	width: 100%;
	height: 6em;	
	filter: drop-shadow(2px 4px 6px black);
	cursor: pointer;
}

.texto {
	font-family: 'Roboto';
	font-weight: 900;
	position: absolute;
	top: 50%;
	left: 5%;
	transform: translate(0, -52%);
	font-size: 30px;
	color: #ddd;
	text-transform: uppercase;	
}

@value heightIncluyendoPadding_desktop: calc(bannersContainerHeight_desktop/3);
@value heightIncluyendoPadding_mobile: calc(bannersContainerHeight_mobile/3);

@value bannerHeight_desktop: calc(heightIncluyendoPadding_desktop*12/14);
@value bannerHeight_mobile: calc(heightIncluyendoPadding_mobile*7/9);

@value bannerPadding_desktop: calc(heightIncluyendoPadding_desktop*1/14);
@value bannerPadding_mobile: calc(heightIncluyendoPadding_mobile*1/9);

.banner {
	height: bannerHeight_mobile;
	margin-bottom: bannerPadding_mobile;
	margin-top: bannerPadding_mobile;
}

@media (min-width: 576px) {	

	.banner {
		height: bannerHeight_desktop;
		margin-bottom: bannerPadding_desktop;
		margin-top: bannerPadding_desktop;
	}

	.texto {
		font-size: 43px;
		letter-spacing: 3px;
	}
}

@media (min-width: 1600px) {
	.texto {
		font-size: 50px;
		letter-spacing: 2px;
	}
}