.labelSinSubtitulo {
  font-weight: 600;
  text-align: center;
  font-size: 22px;
  margin-bottom: 20px;
}

.labelConSubtitulo {
  font-weight: 600;
  text-align: center;
  font-size: 22px;
  margin-bottom: 0;
}

.centrado {
  text-align: center;
}

.subtitulo {
  margin-bottom: 25px;
  font-size: 14px;
}
